<div *ngIf="!!moment" class="moment">
  <div class="moment-image-wrapper">
    <img src="{{baseApiUrl}}uploads/{{moment.image}}" alt="{{moment.title}}">
    <div class="moment-options">
      <button (click)="removeHandler(moment.id!)">
        <fa-icon [icon]="faTrashCan" [size]="'lg'"></fa-icon>
      </button>
      <a routerLink="/moments/edit/{{moment.id}}">
        <fa-icon [icon]="faEdit" [size]="'lg'"></fa-icon>
      </a>
    </div>
  </div>
  <div class="moment-content">
    <h1>{{moment.title}}</h1>
    <p>{{moment.description}}</p>
  </div>
  <div class="comments">
    <h2>Comentários ({{moment.comments?.length || 0}})</h2>
    <div *ngIf="moment.comments?.length! > 0; else noComments">
      <div class="comment-container" *ngFor="let comment of moment.comments">
        <p class="author"><span></span>{{comment.username}}: </p>
        <p class="comment">{{comment.text}}</p>
      </div>
    </div>
    <ng-template #noComments>
      <p>Seja o primeiro a comentar</p>
    </ng-template>
  </div>
  <div class="comment-form">
    <form (ngSubmit)="onSubmit(formDir)" [formGroup]="commentForm" #formDir="ngForm">
      <h3>Deixe um comentário</h3>
      <div class="form-group">
        <label for="username">Nome*</label>
        <input type="text" placeholder="Digite seu nome" required formControlName="username">
        <div *ngIf="username.invalid && formDir.submitted" class="validation-error">
          <p *ngIf="username.errors?.['required']">O nome é obrigatório.</p>
        </div>
      </div>
      <div class="form-group">
        <label for="text">Comentário*</label>
        <textarea placeholder="O que você quer comentar?" required formControlName="text"></textarea>
        <div *ngIf="text.invalid && formDir.submitted" class="validation-error">
          <p *ngIf="text.errors?.['required']">O comentário é obrigatório.</p>
        </div>
      </div>
      <button type="submit">Comentar</button>
    </form>
  </div>
</div>
