@import "../styles/variables";

@mixin centralizeMax() {
  max-width: $device-xl;
  width: 100%;
  margin: 0 auto;
}

@mixin flexCenter($direction: row) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}
