$device-sm: 640px;
$device-md: 768px;
$device-lg: 1024px;
$device-xl: 1280px;

$bg-dark: #0f0f0f;
$bg-dark-2: #27272a;
$bg-dark-3: #3f3f46;
$bg-dark-4: #52525b;

$text-color: #f4f4f5;
$text-color-2: #e4e4e7;

$danger: #dc2626;
$danger-light: #f57575;

$font-sm: 1.4rem;
$font-base: 1.6rem;
$font-lg: 2rem;
$font-xl: 2.8rem;
$font-2xl: 3.2rem;

$rounded: 0.4rem;
