@import "../../../styles/variables";
@import "../../../styles/mixin";

div.message {
  position: fixed;
  top: 8rem;
  width: 30rem;
  right: 1rem;
  z-index: 10;
  background-color: $bg-dark-2;
  border: 0.1rem solid $bg-dark-4;
  border-radius: $rounded;
  padding: 0.8rem;

  div.message-header {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    position: relative;

    div.check-wrapper {
      @include flexCenter();
      width: 1.8rem;
      height: 1.8rem;
      border-radius: 1000px;
      background-color: green;
    }

    h2 {
      font-size: $font-base;
    }

    button {
      position: absolute;
      top: -0.2rem;
      right: -0.2rem;
    }
  }
}
