/* You can add global styles to this file, and also import other style files */

@import "./styles//variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: $text-color;
}

body {
  background-color: $bg-dark;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: $text-color;
  transition: all ease-in-out 200ms;
}

li {
  list-style: none;
}

button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  transition: all ease-in-out 200ms;
}
