/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #444;
}

a {
  text-decoration: none;
  color: #444;
  transition: all ease-in-out 400ms;

  &:hover {
    text-decoration: underline;
  }
}

li {
  list-style: none;
}

button {
  background-color: inherit;
  border: none;
}
